/*Large Desktop*/
@media (min-width: 1200px) {

}

/*Desktop*/
@media (min-width: 992px) and (max-width: 1199px) {

}

/*Small desktop or tablet*/
@media (min-width: 768px) and (max-width: 991px) {

}

/*Phone*/
@media (max-width: 767px) {

}


.rate-calendar{
	.tab.row{
		.nav li a{
			background-color: white; 
			color: black;
		}
		.nav li.active a{
			background-color: #E1BD85;
			color: white;
		}
		.row{ margin-top: 10px; }
		table.rate-calendar.table{ 
			tr.cream th, tr.cream td{
				background-color: #E1BD85 !important;
				color: white !important;
			}
			tr th{ background-color: white; }
			.white tr td{ background-color: white; }
			tr:nth-of-type(odd) td{ background-color: white; }
			tr:nth-of-type(even) td{ background-color: #f5f5f5; }
		}
		.cream{
			background-color: #E1BD85 !important;
			color: white;
		}
		.half-width{ width: 50% !important;}
		.pull-right{ margin-right: 5px; }
		.booked-bar{
			width: 200px;
			height: 20px;
			background-color: #ecdac0;
			position: relative;
			display: inline-block;

			.booked{
				height: 20px;
				position: absolute;
				background-color: #E1BD85;
			}
		}
		.btn.btn-primary{ margin-top: 5px; }

	}
	/* next element is chained inside*/
}